.Banner {
    margin: 0.5vw;
    padding: 0vw 2vw 0vw 2vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.75vw;
    color: black;
    background-color: cornflowerblue;
    border: 0.25vw solid #005266;
    border-radius: 2vw;
}